.typography {
    margin: 10px 0;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
}

.typography.sm {
    font-size: 14px;
}

.typography.md {
    font-size: 16px;
}

.typography.lg {
    font-size: 18px;
}
